@font-face {
  font-family: 'ExcelsiorLT';
  src: url('ExcelsiorLTStd.eot'); /* IE9 Compat Modes */
  src: url('ExcelsiorLTStd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('Excelsior LT Std Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Excelsior LT Std Bold 2.ttf')  format('truetype'), /* Safari, Android, iOS */
       
}