.page-content {
  position:relative;
  min-height:600px;
  transition: .2s;
  margin-bottom:50px;
  transition:.2s;
  left:0;
  &.open-search {
    transition:.2s;
  }
  &.open-menu {
    transition:.2s;
    left:300px;
  }
}