

@media screen and (max-width:992px){
  .slide-images {
    width:100% !important;
    max-width: 100%;
    height:100% !important;
    flex: 0 0 100% !important;
  }
  .slider-container {
    width:100%;
    position: relative !important;
    height:fit-content;
  }
  .slick-list {
    width:100%;
    position: relative !important;
  }
}

@media screen and (max-width:767px){ 
  .page-content.open-menu {
    left:0 !important;
  }
}



