

@media screen and (max-width:992px){
  .height100 {
    height:100vh !important;
  }
  .page-content {
    min-height: auto !important;
    &.open-menu {
      left:0 !important;
    }
  }
  .home .menu {
    position: absolute !important;
  } 
  .slide-images {
    width:100% !important;
    max-width: 100%;
    height:100% !important;
    flex: 0 0 100% !important;
  }
  .slider-container {
    width:100%;
    position: relative !important;
  }
  .slick-list {
    width:100%;
    position: relative !important;
  }
  .categories {
    width:100% !important;
    max-width: 100%;
    height:100% !important;
    max-height:500px !important;
    flex: 0 0 100% !important;
    padding:20px !important;
    text-align:center;
    margin-top:70px;

    .category-title {
      width: 100% !important;
      flex: 0 0 100%;
      max-width: 100%;
      div {
      clear: both;
      margin:10px 0;
      width:100%;
     }
    }

    .category-actions {
      width: 100% !important;
      flex: 0 0 100%;
      max-width: 100%;
      div {
      clear: both;
      margin:10px 0;
      width:100%;
      text-align: center;
     }
    }

    .articles {
      column-count: 1 !important;
    }
    .previous {
      top:-6px;
    }
  }
}